<connectionStrings>
  <!--<add name="StarTEDDb"
         connectionString="Data Source=.;Initial Catalog=StarTED;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
  <add name="StarTEDDb"
         connectionString="Data Source=LAPTOP-7PK3CUBJ\SQLEXPRESS; Initial Catalog=StarTED; Integrated Security=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>