<connectionStrings>
  <add name="NWDB" connectionString="Data Source=LAPTOP-7PK3CUBJ\SQLEXPRESS; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <!--<add name="NWDB" connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517 Integrated Security=true"
       providerName="System.Data.SqlClient"/>-->
  <!--The second one is for NAIT!-->
</connectionStrings>

